@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0F62FE;
  --secondary: #FF6B00;
  --bg: #F5F7FA;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 引入Unicons图标 */
@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');
